<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.5.2" />
  <package id="jQuery.vsdoc" version="1.5.2" />
  <package id="jQuery.UI.Themes.base" version="1.8.9" />
  <package id="jQuery.UI.Core" version="1.8.9" />
  <package id="jQuery.UI.Combined" version="1.8.12" />
</packages>