<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Environment" value="Local Debug" />
  </appSettings>
  
  <connectionStrings>
    <add name="chocolatey" connectionString="Server=(local);Database=chocolatey;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
