.svn
.hg
build_output
code_drop
bin
obj
_ReSharper.*
*.csproj.user
*.[r|R]esharper.user
*.suo
*.user 
*.resharper
*.cache
*~
*.swp
*.bak
*.orig
*.log
*.pidb
*userprefs
 
TestResult.xml
submit.xml
SolutionVersion.cs

.fubu-alias
.fubu-includes
.fubu-manifest

src/*.ReSharper
fubu-content
spark.zip