<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   	 <configSections>
		 <section name="hibernate-configuration"
				  type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
		 <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
	
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider, NHibernate</property>

			<!-- This is the System.Data.dll provider for MSSQL Server -->
			<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
			<property name="connection.connection_string">
				Server=(local);initial catalog=nhibernate;Integrated Security=SSPI
			</property>
			<property name="show_sql">true</property>
			<property name="dialect">NHibernate.Dialect.MsSql2000Dialect</property>
		</session-factory>
	</hibernate-configuration>
	
	<!-- This section contains the log4net configuration settings -->
	<log4net>

		<!-- Define some output appenders -->	

		<appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net" >
			
			<param name="File" value="log.txt" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Date" />
			<param name="DatePattern" value="yyyy.MM.dd" />
			<param name="StaticLogFileName" value="true" />

			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n" />
			</layout>
		</appender>

		<!-- Setup the root category, add the appenders and set the default priority -->
		
		<root>
			<priority value="ALL" />
			<appender-ref ref="rollingFile" />
		</root>

	</log4net>
	

</configuration>


