<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="hibernate-configuration"
				 type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
		<section name="log4net"
				 type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
	<runtime>
		<!-- The assembly binding for FirebirdClient ADO.NET 2.0 DataProvider -->
		<!-- -->
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<qualifyAssembly partialName="FirebirdSql.Data.FirebirdClient" fullName="FirebirdSql.Data.FirebirdClient, Version=2.0.1.0, Culture=neutral, PublicKeyToken=3750abcc3150b00c" />
		</assemblyBinding>
		<!-- -->
	</runtime>

	<!-- 
		hibernate-configuration section

		You don't need to change this section for your own use.
		You can write your own hibernate.cfg.xml to override all session-factory configuration.
		Templates are available in NHibernate.Config.Templates folder.
	-->
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="connection.provider">NHibernate.Test.DebugConnectionProvider, NHibernate.Test</property>
			<property name="cache.provider_class">NHibernate.Cache.HashtableCacheProvider, NHibernate</property>
			<property name="cache.use_query_cache">true</property>
			<property name="connection.isolation">ReadCommitted</property>
			<!-- This is the System.Data.dll provider for MSSQL Server -->
			<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
			<property name="connection.connection_string">
				Server=(local);initial catalog=nhibernate;Integrated Security=SSPI
			</property>
			<property name="show_sql">false</property>
			<property name="dialect">NHibernate.Dialect.MsSql2000Dialect</property>
			<property name="use_outer_join">true</property>
			<property name="command_timeout">444</property>
			<property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
		</session-factory>
	</hibernate-configuration>

	<!-- This section contains the log4net configuration settings -->
	<log4net debug="false">

		<!-- Define some output appenders -->
		<appender name="trace" type="log4net.Appender.TraceAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net" >

			<param name="File" value="log.txt" />
			<param name="AppendToFile" value="false" />
			<param name="RollingStyle" value="Date" />
			<param name="DatePattern" value="yyyy.MM.dd" />
			<param name="StaticLogFileName" value="true" />

			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<!-- Setup the root category, add the appenders and set the default priority -->

		<root>
			<priority value="WARN" />
			<appender-ref ref="console" />
		</root>

	</log4net>


</configuration>


